body {
    text-align: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

#board {
    background-color: black;
    border: 5px solid skyblue;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}
canvas {
    border: 1px solid white;
}
#score {
    margin: 10px;
    font-size: 20px;
}
#game-over {
    color: red;
    font-size: 24px;
    margin-top: 20px;
}